@model IEnumerable<NDependTestToDos.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToDoCategory.ToDoCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDoPriority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToDoCategory.ToDoCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDoPriority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToDoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToDoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToDoID })
        </td>
    </tr>
}

</table>
